.cache
.lsp-session*
eln-cache
elpa
eshell
games
history
places
projects
straight/repos
straight/build
straight/build-cache.el
straight/modified
tramp
transient
tree-sitter
url
auto-save-list
lit.el
undo
*~
.venv/
